@font-face {
    font-family: "Raleway-Bold";
    src: url("../assets/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("../assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}
.bolder {
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.bold {
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.regular {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.paddingRight30 {
    padding-right: 30px;
}
.marginRight40 {
    margin-right: 40px;
}
body {
    background-color: red;
    margin: 0; padding: 0;
}
main {
    padding: 20px;
    background-color: #fff; 
}
/* HEADER */
header {
    background-color: #fff; 
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#header-logo {
    /* background-color: violet; */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-logo img {
    /* background-color: yellow; */
    width: 50px;
    height: auto;
    
}
header nav ul{
    /* background-color: blue; */
    
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: inherit;
    padding-right: 30px;
    
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
header nav ul li {
    /* background-color: aqua; */
    margin: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
header nav ul li:hover {
    color: #0065FC;
    border-top: 5px solid #0065FC;
}
.border { border-top: 5px solid transparent; }
/* FORMULAIRE */
#form {
    /* background-color: orange; */
    width: 100%;
    /* padding: 20px 0px 0px 20px; */
    padding: 20px 0px;
}
form p{
    /* background-color: red; */
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
#form-icon {
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 15px 0px 0px 15px;
}
#location {
    height: 50px;
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
}

input[type=search] {
    padding-left: 10px;
    font-family: "Raleway-Bold", sans-serif;
    border-color: #d9d9d9;
    border: none;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* text-align: center; */
}
#form button {
    background-color: #0065FC;
    color: #fff;
    /* border-color: transparent; */
    width: 132px;
    height: 50px;
    font-family: 'Raleway-Bold', serif;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;
}

/* ZONE FILTRE */
.filter {
    /* background-color: aqua; */
    width: 100%;
    height: 100px;
    display: flex;align-items: center;
    
    padding: 10px 0px 10px 0px;
}
.filter p {
    font-family: 'Raleway-Bold', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
.filter-elements {
    /* background-color: green; */
    /* width: 200px; */
    height: 50px;
    display: flex;
    margin: 0px 10px;
    padding: 0px 10px 0px 0px;
    
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}
.filter-elements:hover {
    background-color: #DEEBFF;
}
.filter-icons {
    /* background-color: orange; */
    /* width: 50px;
    height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0px 0px 50px;
    padding-left: 20px;
    color: #0065FC;
}
.filter-txt {
    /* padding: 0px 10px; */
    font-family: 'Raleway-Bold', serif;
    text-align: center;
    text-transform: capitalize;
}

/* Card "Hebergement" */
.hebergementCard {
    /* background: blue; */
    width: 246px;
    /* height: 199px; */
    height: auto;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.hebergementCardBg {
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    /* height: 100%; */
    height: 205px;
}
/* .hebergementCardImg{
    box-sizing: border-box;
    
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
} */
/* .hebergementCardImg img {
    width: 246px;height: 124px;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFFFFF;
} */
.hebergementCardBg img {
    /* width: 246px; */
    width: 100%;
    height: 124px;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFFFFF;
    object-fit: cover;
}
.hebergementCardTxts {
    /* background: #000; */
    width: 204px;height: 39px;
    border: 5px solid #FFFFFF;
    margin-left: 10px;
}
.hebergementCardTxt2 {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;
    margin-top: 5px;
}
.hebergementCardStars {
    padding: 0px 5px 0px 5px;
    border-radius: 20px;
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}
.hebergementCardStar  {
    width: 15px;height: auto;
}
.hebergementCardStar i {
    color: #0065FC;
}
.grey {
    color: #F2F2F2 !important;
}

/* Card "les plus populaires" */
.populairesCard {
    background: #fff;
    width: 343px;
    /* height: 199px; */
    height: 144px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    border-radius: 20px 20px 20px 20px;
}
.populairesCardImg {
    /* background-color: blue; */
    /* width: 246px; */
    width: 137px;
    height: 100%;
    /* height: auto; */
    box-sizing: border-box;
    /* border-radius: 20px 0px 0px 20px; */
    /* border: 5px solid #FFFFFF; */
}
.populairesCardImg img {
    background-color: orange;
    /* width: 246px; */
    width: 100%;
    height: 100%;
    /* height: auto; */
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFFFFF;
    object-fit: cover;
}
.populairesCardBg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.populairesCardTxts {
    width: 169px;height: 39px;
    border: 5px solid #FFFFFF;
    margin-left: 10px;
    margin-top: 10px;
}

/* affichage des conteneurs
“Hébergements à Marseille” et “Les plus populaires” */
.zoneHebergement {
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.zoneHebergementMarseille {
    background: #F2F2F2;
    border-radius: 20px;
    width: 60%;height: 626px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 22px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.zoneHebergementMarseille h2,p {
    margin-left: 40px;
}
.zonePopulaires {
    background: #F2F2F2;
    border-radius: 20px;
    width: 30%;height: 626px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 33px;
}
.zonePopulairesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.zonePopulaires h2 {
    margin-left: 40px;
}
.zonePopulairesHeader i {
    color: #0065FC;
}
.populairesCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
}
.hebergementCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
    gap: 22px;
}

/* Étape 9 : Intégrez le conteneur “Activités à Marseille” */
.marseilleActivityCards {
/* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 43px
}
.marseilleActivityCard {
    background-color: orange;
    width: 21%; height: 445px;
    border-radius: 20px;
    position: relative;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.marseilleActivityCard img {
    width: 100%; height: 100%;
    object-fit: cover;
    padding: inherit;
    border-radius: 20px 20px;
    position: absolute;
    z-index: 1;
}
.marseilleActivityCardTitle {
    background-color: #fff;
    width: 100%;height: 56px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 18px 18px;
    position: absolute;
    z-index: 2;
    bottom: 0;
}
.marseilleActivityCardTitle h3 {
    margin: inherit;
    padding-left: 15px;
}
.zoneMarseilleActivity h2 {
    margin-left: 40px;
}

/* Étape 10 : Implémentez le footer */
footer {
    background: #F2F2F2;
    width: 100%; height: 225px;
    display: flex;
    justify-content: center;
}
.footerColonnes {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
}
.footerColonne {
    display: flex;
    flex-direction: column;
    margin: 0px 76px;
    position: relative;
    width: 20%;height: auto;
}
.footerColonne h3 {
    margin-bottom: 0px;
}
.footerColonne ul {
    /* position: absolute; */
    margin: 0;
    padding-left: 0px;
}
.footerColonne li {
    list-style: none;
    margin: 12px 0px;
}
.footerColonne li a {
    text-decoration: none;
    color: inherit;
}