@font-face {
    font-family: "Raleway-Bold";
    src: url("../assets/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("../assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}
.bolder {
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.bold {
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.regular {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


body {
    background-color: red;
    margin: 0; padding: 0;
}
main {
    padding: 20px;
    background-color: #fff; 
}
/* HEADER */
header {
    background-color: #fff; 
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#header-logo {
    /* background-color: violet; */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-logo img {
    /* background-color: yellow; */
    width: 50px;
    height: auto;
    
}
header nav ul{
    /* background-color: blue; */
    
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: inherit;
    padding-right: 30px;
    
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
header nav ul li {
    /* background-color: aqua; */
    margin: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
header nav ul li:hover {
    color: #0065FC;
    border-top: 5px solid #0065FC;
}
.border { border-top: 5px solid transparent; }
/* FORMULAIRE */
#form {
    /* background-color: orange; */
    width: 100%;
    /* padding: 20px 0px 0px 20px; */
    padding: 20px 0px;
}
form p{
    /* background-color: red; */
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
#form-icon {
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 15px 0px 0px 15px;
}
#location {
    height: 50px;
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
}

input[type=search] {
    padding-left: 10px;
    font-family: "Raleway-Bold", sans-serif;
    border-color: #d9d9d9;
    border: none;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* text-align: center; */
}
#form button {
    background-color: #0065FC;
    color: #fff;
    /* border-color: transparent; */
    width: 132px;
    height: 50px;
    font-family: 'Raleway-Bold', serif;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;
}

/* ZONE FILTRE */
.filter {
    /* background-color: aqua; */
    width: 100%;
    height: 100px;
    display: flex;align-items: center;
    
    padding: 10px 0px 10px 0px;
}
.filter p {
    font-family: 'Raleway-Bold', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
.filter-elements {
    /* background-color: green; */
    /* width: 200px; */
    height: 50px;
    display: flex;
    margin: 0px 10px;
    padding: 0px 10px 0px 0px;
    
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}
.filter-elements:hover {
    background-color: #DEEBFF;
}
.filter-icons {
    /* background-color: orange; */
    /* width: 50px;
    height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0px 0px 50px;
    padding-left: 20px;
    color: #0065FC;
}
.filter-txt {
    /* padding: 0px 10px; */
    font-family: 'Raleway-Bold', serif;
    text-align: center;
    text-transform: capitalize;
}
